#loginform{
    padding: 20px;
    display: flex ;
    margin: auto;
}

#page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 46px;
      
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content{
      margin-bottom: 200px;
  }
  #acme {
      margin-left: 400px;
  }
  #author {
      float: right;
      margin-left: 300px;
      font-weight: bold;
  }
  .contact{
      width: 150px;
      height: 50px;
      background-color: aliceblue;
      margin: 25px;
  }

