#loginform{
    padding: 20px;
    display: flex ;
    margin: auto;
}

#page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 46px;
      
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content{
      margin-bottom: 200px;
  }
  #acme {
      margin-left: 400px;
  }
  #author {
      float: right;
      margin-left: 300px;
      font-weight: bold;
  }
  .contact{
      width: 150px;
      height: 50px;
      background-color: aliceblue;
      margin: 25px;
  }

.coolbutton{
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  
  button:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
  }
  
  button:active {
    background-color: rgb(255, 56, 86);
    /*50, 168, 80*/
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
  }
  
.coolbutton_blue {
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(56, 192, 255);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: rgb(46, 69, 201) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.coolbutton_blue:hover {
    box-shadow: rgb(46, 108, 201) 0px 7px 0px 0px;
}

.coolbutton_blue:active {
    background-color: rgb(59, 56, 255);
    box-shadow: rgb(46, 87, 201) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

