<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreatePage</title>
</head>
<body>
    <div class="content text-center">
        <h1 class="header">This is the Create Page</h1>
        <p>Everything in here should be centers</p>
    </div>

    
</body>
</html>