<h1>This is My Event Page</h1>
<!-- 
    This page will contains all of the user's active events.

    This page will interact data from the database and display data in a UL
 -->
 <body>
    <h1>Events</h1>
    <% if (events.length > 0) { %>
      <ul>
        <% events.forEach(event => { %>
          <li>
            <strong><%= event.name %></strong> - <%= event.location %> - <%= new Date(event.date).toLocaleString() %>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No events found.</p>
    <% } %>
  </body>