<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="content text-center">
            <h1 clas="header">This is the index page</h1>
            <p>This content should be center</p>
        </div>
    </div>

    

    
    
</body>
</html>