<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <!--Creating Index page based on Wire Frame -->
    <div class="container">
        <div class="content text-center">
            <!--Application title-->
            <h1 clas="header" style="font-size: 100px;">Welcome To Our App</h1>
            <p style="font-weight: bold;">Click Here To Plan Your First Event!</p>
            <!--Adding a big red Button-->
            <a href="/create"><button class="coolbutton">Create</button></a>
        </div>

        <footer>
            <!--footer with place holder buttons-->
            <h3 id="acme">━━━━━━━<br>A C M E</h3>
            <h3 id="rightOfSpeech">"To have the right of speech"</h3>
            <P id="author">Author</P>
            <div class="button-container">
                <button type="button" class="coolbutton" onclick="">About Us</button>
                <button type="button" class="coolbutton" onclick="">Help</button>
                <button type="button" class="coolbutton" onclick="">Legal</button>
            </div>
        </footer>

        
    </div>

    

    
    
</body>
</html>