<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <!--Creating Index page based on Wire Frame -->
    <div class="container">
        <div class="content text-center">
          <div class="legal-info">
            <!-- <h1> Legal Information</h1> -->
            <p></p>
        </div>
        <div class="conditions-use">
            <h1> Terms and Conditions</h1>
            <ul>
                <li>We do not take responsibility for anything that happens outside our application. </li>
                <li>Attend events at your own risk, as we will not be liable for any damage or injuries sustained at any events listed on our sites.</li>
                <li> By using our app, users are agreeing to protest peacefully</li>
            </ul>
            
            <h2> User Acceptance </h2>
            <div id="acceptDiv">
                
            
            <div class="item">
                <input type="checkbox" id="a">
                <label for="a">Please Click here to accept user terms and conditions</label>
            </div>
            
            <button id="submit"> Submit </button> 
        </div>
        </div>
        <div class="Legal-Liability">
          
            </p>
        </div>
        
    </div>

    

    
    
</body>
</html>